.root{
    -fx-font-size: 13pt;
    -fx-font-family: "Courier New";
    display: block;
}
Rectangle{
    -fx-stroke-width: 3;
    -fx-stroke-type: outside;
}
.static-page{
    -fx-stroke: red;
    -fx-fill: black;
}
/*.static-page:hover{
    -fx-stroke: blue;
    -fx-fill: white;
}*/
.static-page-selected{
    -fx-stroke: purple;
    -fx-fill: red;
}
.other-page{
    -fx-stroke: lime;
    -fx-fill: black;
}
/*.other-page:hover{
    -fx-stroke: wheat;
    -fx-fill: white;
}*/
.other-page-selected{
    -fx-stroke: fuchsia;
    -fx-fill: magenta;
}
